body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333333;
}

header {
    background-color: #2b2625; /*color de fondo*/
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
}

.logo {                
    background: none; 
    border: none;     
    padding: 0;
    display: flex;
    align-items: center;
}

.imagen-logo {
    height: 80px;
    width: auto; 
    object-fit: contain;
}

nav {                            /* abarca el nav*/
    background-color: #0aac9f; /* color de fondo de la caja */
    padding: 10px 20px;        /* Espacio entre cajas */
    border-radius: 5px;        /* esquinas redondeadas */
    display: flex;
    align-items: center;
}

nav ul {                    /* abarca el nav y el ul*/
    list-style: none;      /* Quita los puntos negros */
    display: flex;         /* Pone los enlaces en fila */
    gap: 20px;             /* espacio entre cada palabra */
    margin: 0;
    padding: 0;
}

nav ul li a:hover {
    color: #2b2625;
}

.banner {
    width: 100%;
    margin-top: 20px;    
    margin-bottom: 20px; 
}

.imagen-banner {
    width: 100%;
    height: 200px;;
    display: block;
}

.centro {
    background-color: #741d7d;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.caja {
    background-color: #ffffff;
    border-radius: 8px;
    border: 3px solid #000000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.caja h3 {
    margin: 0;
    padding: 12px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.caja1-titulo { background-color: #2C3E50; }
.caja2-titulo { background-color: #2d5a86; }
.caja3-titulo { background-color: #16A085; }
.caja4-titulo { background-color: #2980B9; }
.caja5-titulo { background-color: #4B6584; }
.caja6-titulo { background-color: #00979D; }

.caja-contenido {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.caja-imagen {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.pagina-principal-contenido {
    padding: 40px;
    background: white; 
    margin-top: 20px;
    border-radius: 5px;
}

.imagen-final {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

footer {
    background-color: #292b2c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
}